<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantNames</key>
	<array>
		<string>Cholo&apos;s</string>
		<string>Stormy&apos;s</string>
		<string>Kono&apos;s</string>
		<string>Storto&apos;s</string>
		<string>Haleiwa Joe&apos;s</string>
		<string>Elephant Shack</string>
	</array>
	<key>restaurantDescriptions</key>
	<array>
		<string>Cholo’s has been around the North Shore for almost twenty years. Cholo’s has been a long time favorite among locals, military, kama aina, and return tourist. The décor, music, intention to create a friendly festive atmosphere, where people would gather to meet and make friends, enjoy good food and drinks at a great price.</string>
		<string>Located on the North Shore of Oahu, Hawaii, Stormy&apos;s offers upscale comfort food and craft beer &amp; cocktails in a fun, friendly atmosphere.</string>
		<string>Kono’s Restaurants have captured the heart of Hawaiian casual dining for 15 years. With its fun, surf-inspired atmosphere, the Kono’s menu has cravingly delicious options that while served up fast, offer great nutrition value and make healthy, fast-food the new norm.</string>
		<string>Tucked away in the heart of quaint Haleiwa town, this local eatery is full of delicious fresh submarine sandwiches. Fresh baked bread daily with our secret recipe. So when you are hungry and you want something that’s filling, super tasty and reasonably priced stop by Storto’s on the North Shore.</string>
		<string>The founders believed that this Aloha spirit could be shared through a dining experience by celebrating surf legends in original memorabilia on the walls, menus boasting fresh, local ingredients and staff members that are just as talented at swimming with sharks as they are serving Mai Tais.</string>
		<string>We are a simple restaurant striving to serve fresh, quality Thai dishes with friendly vibes in a country setting.</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>haleiwaCholos</string>
		<string>haleiwaStormys</string>
		<string>haleiwaKonos</string>
		<string>haleiwaStortos</string>
		<string>haleiwaHaleiwaJoes</string>
		<string>haleiwaElephantShack</string>
	</array>
</dict>
</plist>
